*{
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #5F6F75;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #EEC9C8;
  color: #5F6F75;
}

card {
  float: left;
  margin : 3%;
  height: 240px;
}

img, .image_description {
  width: 200px;
  height: 200px;
}

.image_description { 
margin: 0;
}