*{
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  padding: 20px;
  color: rgb(3, 14, 20);
  font-size: 250%;
  text-align: left;
  font-family: 'Waiting for the Sunrise', cursive;
  margin-left: 5%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html, body {
  padding: 0;
  background-color: #f5f9fa;
  color: rgb(20, 38, 87);
  font-family:  Roboto,'Open Sans', 'Helvetica Neue', sans-serif
}

h1 {
  font-size: 300%;
  margin: 0;
}

img, .image_description {
  width: 200px;
  height: 200px;
}

p {
  margin: 0;
}

.image_description { 
font-family: 'Waiting for the Sunrise', cursive;
font-size: 150%;
margin: 0;
}

.grid-list-tile {
  margin: 1%;
}

#form {
  margin: 4%;
}

#galleryList {
  margin: 5%;
}

#pupstergram {
  height: 80px;
  width: 80px;
  align-self: left;
  margin: 0;
}